/*=-=-=-=-=-=
main colour definistion
=-=-=-=-=-=*/
$default: #ffffff;
$default_alt: #d9d9d9;
$default_darker: #C1C9D2;


$dark: #000000;
$dark_alt: #333333; // body text color
$dark_darker: #040035;

$primary: #4801ac;
$primary_alt: #d1bfea;
$primary_darker: #380186;

$accent: #1ad1f7;
$accent_alt: #d1f6fd;
$accent_darker: #18b8d8;

$error: #f37171;
$warning: #eca74c;
$success: #4ce360;
